<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.thymeleaf.org"
  xmlns:layout="http://ultraq.net.nx/thymeleaf/layout"
  layout:decorate="~{/home}"
>
  <section layout:fragment="content">
    <link
      rel="stylesheet"
      href="../../../static/css/input.css"
      th:href="@{/static/css/input.css}"
    />
    <script
      src="../../../static/js/input.js"
      th:src="@{/static/js/input.js}"
    ></script>
    <section class="gallery">
      <a href="../list.html" th:href="@{/}">목록으로 돌아가기</a>

      <article class="gallery">
        <form method="POST" enctype="multipart/form-data">
          <fieldset>
            <legend>이미지 업로드</legend>
            <div>
              <input
                type="text"
                placeholder="제목"
                name="g_subject"
              />
            </div>
                <div>
              <input
                type="text"
                placeholder="작성자 이메일"
                name="g_email"
              />
            </div>
                <div>
              <input
                type="text"
                placeholder="비밀번호"
                name="g_password"
              />
            </div>
            <div>
              <textarea
                placeholder="이미지 설명"
                name="g_content"
              ></textarea>
            </div>
            <div>
              <input
                type="file"
                class="file single"
                name="image_file"
                accept="image/*"
              />
              <input
                type="file"
                class="file multi"
                name="image_files"
                accept="image/*"
                multiple
              />
            </div>
            <div><input type="hidden" name="g_image" /></div>
            <div class="image">
              <img
                src="../../../static/images/noimage.png"
          		th:src="@{/static/images/noimage.png}"
                width="200px"
                class="gallery"
              />
            </div>
            <div class="image multi"></div>
            <div><input type="submit" value="저장" /></div>
          </fieldset>
        </form>

      </article>
    </section>
  </section>
</html>
